<div class="sidebar_wrapper">
  <% @categories.each do |cat| %>
    <button class="accordion">
      <%= link_to cat.name, cat %>
    </button>
    <div class="panel">
      <% cat.sub_categories.each do |sub_cat| %>
        <button class="accordion">
          <%=link_to sub_cat.name, sub_cat %>
        </button>
        <div class="panel">
          <% sub_cat.posts.each do |post| %>
            <%= link_to truncate(post.body), post %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
  <script type="text/javascript" src="javascript/lib/accordian.js"></script>